<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pike.ConnectionTest.SettingsWebService" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Pike.ConnectionTest.SettingsConnection" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Pike.ConnectionTest.SettingsWebService>
            <setting name="UserName" serializeAs="String">
                <value>Integration</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Integration123</value>
            </setting>
            <setting name="Address" serializeAs="String">
                <value>http://192.168.189.129</value>
            </setting>
            <setting name="UriNamespace" serializeAs="String">
                <value>http://10.10.15.150/WebIntegration</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>AccountingServer</value>
            </setting>
            <setting name="ServiceFileName" serializeAs="String">
                <value>WebIntegration.1cws</value>
            </setting>
        </Pike.ConnectionTest.SettingsWebService>
        <Pike.ConnectionTest.SettingsConnection>
            <setting name="Database" serializeAs="String">
                <value>AccountingServer</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>192.168.189.129</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>Integration</value>
            </setting>
            <setting name="ProgId" serializeAs="String">
                <value>V83.ComConnector</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Integration123</value>
            </setting>
        </Pike.ConnectionTest.SettingsConnection>
    </userSettings>
</configuration>