<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Pike.OneS.Test.SettingsMain" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pike.OneS.Test.SettingsMain>
            <setting name="ConnectionString" serializeAs="String">
                <value>ProgId=V83.ComConnector;Srvr=WIN-U7DLHOF76FQ;Ref=Accounting2Server;Usr=Integration;Pwd=Password123</value>
            </setting>
        </Pike.OneS.Test.SettingsMain>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
