<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pike.OneS.UnitTest.SettingsMain" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pike.OneS.UnitTest.SettingsConnection" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Pike.OneS.UnitTest.SettingsWebService" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Pike.OneS.UnitTest.SettingsMain>
      <setting name="UserName" serializeAs="String">
        <value>Integration</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>Integration123</value>
      </setting>
    </Pike.OneS.UnitTest.SettingsMain>
  </userSettings>
  <applicationSettings>
    <Pike.OneS.UnitTest.SettingsConnection>
      <setting name="Database" serializeAs="String">
        <value>AccountingServer</value>
      </setting>
      <setting name="Server" serializeAs="String">
        <value>192.168.189.129</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>Абдулов (директор)</value>
      </setting>
      <setting name="ProgId" serializeAs="String">
        <value>V83.ComConnector</value>
      </setting>
    </Pike.OneS.UnitTest.SettingsConnection>
    <Pike.OneS.UnitTest.SettingsWebService>
      <setting name="UserName" serializeAs="String">
        <value>Integration</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>Integration123</value>
      </setting>
      <setting name="Address" serializeAs="String">
        <value>http://192.168.189.129</value>
      </setting>
      <setting name="UriNamespace" serializeAs="String">
        <value>http://10.10.15.150/WebIntegration</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>AccountingServer</value>
      </setting>
      <setting name="ServiceFileName" serializeAs="String">
        <value>WebIntegration.1cws</value>
      </setting>
    </Pike.OneS.UnitTest.SettingsWebService>
  </applicationSettings>
</configuration>